<!doctype html>
<html lang="en>">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <main>
            <div><h1>My Lists</h1></div>
            <div>
                <p>
                    <a href="{% url "todo_list_create" %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url "todo_item_create" %}">Create a new item</a>
                </p>
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of items</th>
                    </thead>
                    <tbody>
                        {% for list in todolist_list %}
                        <tr>
                            <td>
                                <a href="{% url "todo_list_detail" list.pk %}">{{list.name}}</a>
                            </td>
                            <td>
                                {{ list.items.all|length }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
